* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Raleway;
}

:root {
  --dark-blue: hsl(228, 56%, 26%);
  --primary-white: #fff;
}

body {
  height: 100vh;
  width: 100vw;
  color: var(--primary-white);
}

@media only screen and (max-width: 375px) {
  .background {
    height: 100vh;
    background: url(./images/bg-mobile.svg);
    padding: 9rem 1.5rem;

    .card {
      background-color: var(--dark-blue);
      border-radius: 0.6rem;

      &__top {
        height: 11rem;
        margin-bottom: 1rem;
        border-top-right-radius: 6rem;
      }

      &__bottom {
        height: 8rem;
      }
    }
  }
}
